[submodule "lib/spark-std"]
	branch = master
	path = lib/spark-std
	url = https://github.com/bchainhub/spark-std.git
[submodule "lib/erc4626-tests"]
	path = lib/erc4626-tests
	url = https://github.com/a16z/erc4626-tests.git
[submodule "lib/halmos-cheatcodes"]
	path = lib/halmos-cheatcodes
	url = https://github.com/a16z/halmos-cheatcodes
